<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thanhlefunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/71c40cff-224f-47d5-a0fb-41f0ec827b05/resourcegroups/learn-ece81eb0-93ba-4dad-ab4f-d21b566bb027/providers/Microsoft.Web/sites/thanhlefunction</ResourceId>
    <UserName>$thanhlefunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://thanhlefunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>